<% provide(:title, "Registration") %>
<div class="container mx-auto px-8 md:px-14 lg:px-24 w-full">
  <div class="text-3xl md:text-5xl font-bold my-10 ">新規登録</div>

  <form class="mx-auto md:max-w-md">
    <%= form_with model: @profile do |f| %>

    <div class=" text-body font-semibold py-2 px-4 rounded">
      <%= f.label :お名前 %><br />
      <%= f.text_field :name %>
    </div>

    <div class="text-body font-semibold py-2 px-4 rounded">
      <%= f.label :お誕生日 %><br />
      <%= f.date_field :birthday %>
    </div>

    <div class="mt-5 bg-transparent hover:bg-point text-body font-semibold hover:text-white py-2 px-4 border border-gray-400 hover:border-transparent rounded">
      <%= f.submit "新規アカウント登録" %>
    </div>
  <% end %>
  </form>

</div>
