<% provide(:title, "Registration") %>
<div class="container mx-auto px-8 md:px-14 lg:px-24 w-full">
  <div class="text-3xl md:text-5xl font-bold my-10 ">新規登録</div>
  <%= form_with url: profile_path, model: @profile, method: 'PATCH', class: 'mx-auto md:max-w-md' do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="text-body font-semibold py-2 px-4 rounded flex mx-auto justify-center">
      <%= f.label :お名前 %>
    </div>
    <div class="text-body font-semibold py-2 px-4 rounded flex mx-auto justify-center">
      <%= f.text_field :name, placeholder: "ニックネームでもいいよ"%>
    </div>

    <div class="text-body font-semibold py-2 px-4 rounded flex mx-auto justify-center">
      <%= f.label :お誕生日 %>
    </div>
    <div class="text-body font-semibold py-2 px-4 rounded flex mx-auto justify-center">
      <%= f.date_field :birthday %>
    </div>

    <button class="mt-5 bg-transparent hover:bg-point text-body font-semibold hover:text-white py-2 px-4 border border-gray-400 hover:border-transparent rounded flex mx-auto justify-center">
      <%= f.submit "新規アカウント登録" %>
    </button>
  <% end %>
</div>
