<% provide(:title, "ReplyLetter") %>

<div class="container flex justify-center mx-auto items-center w-full h-full">
  <div class="post posts-new">
    <h1 class="md:py-10 font-medium flex justify-center text-4xl md:text-5xl">
      お返事を書く</h1>
    <%=  form_with scope: :reply, url: post_replies_path, model: @reply, local: true do |form| %>
    <div class ="flex justify-center items-center font-medium z-10">
      <%= render 'layouts/error_messages', model: form.object %>
    </div>

      <div class="font-medium bg-ocean1 form-body  bg-center bg-cover mt-10 text-3xl md:text-4xl lg:text-5xl w-screen flex justify-center items-center">
        <div class="w-full form-body">
          <li class="list-none px-8 py-2 flex justify-center items-center">
            <%= form.label :宛名 %><br>
          </li>
          <li class="list-none flex justify-center items-center">
            <%= form.text_field :dear , placeholder: "#{@post.from}へ"%><br>
          </li>
          <li class="list-none px-8 py-2 flex justify-center items-center">
            <%= form.label :本文 %><br>
          </li>
          <li class="list-none px-8 py-2 flex justify-center items-center">
            <P class="js-text-count", id="counter"></P>
          </li>
          <li class="list-none flex justify-center items-center">
            <%= form.text_area :content , class: 'form-control  js-text', id: "input-text", placeholder: "あなたの大切な人にかけるような言葉で書きましょう！" %><br>
          </li>
          <li class="list-none px-8 py-2 flex justify-center items-center">
            <%= form.label :差出人 %><br>
          </li>
          <li class="list-none flex justify-center items-center">
            <%= form.text_field :from, placeholder: "#{current_user.name} より" %><br>
          </li>
          <li class="flex justify-center items-center m-5 hover:bg-point text-body font-semibold hover:text-white py-2 px-8 border rounded">
            <%= form.submit value="投函する" , method: :post, data: { turbo: false } %>
          </li>
        </div>
      </div>
    <% end %>
  </div>
</div>