<% provide(:title, "ReadLetter") %>

<div class="reply replies-show">
  <h1 class="md:py-10 font-medium text-5xl md:text-6xl lg:text-8xl">
      あなたのお手紙</h1>
  <div class="replies-show-item">
    <p>
      <span><%= @reply.post.dear %></span>
      <span><%= @reply.post.content %></span>
      <span><%=  @reply.post.from %><br>
      <%= @reply.post.created_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    </p>
  </div>
  <h1 class="md:py-10 font-medium text-5xl md:text-6xl lg:text-8xl">
      もらったお返事</h1>
  <div class="replies-show-item">
    <p>
      <span><%= @reply.dear %></span>
      <span><%= @reply.content %></span>
      <span><%=  @reply.from %><br>
      <%= @reply.created_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    </p>
  </div>
</div>