<header class="py-6 ">
  <div class = "container mx-auto flex justify-between items-center px-8 md:px-14 lg:px-24 w-full">
    <div class="text-lg font-bold">コトノハ</div>
    <div class="space-x-5 md:flex items-center font-semibold">
      <% if logged_in? %>
        <li class="list-none hover:text-point transition-all duration-300 ">
          <%= link_to "手紙を書く", new_post_path, data: {"turbolinks" => false} %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 ">
          <%= link_to "手紙を読む", notifications_path %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 ">
          <%= link_to "ログアウト", log_out_path %>
        </li>
      <% else %>
        <a href="#about" class="list-none hover:text-point transition-all duration-300 ">
          どんなアプリ？
        </a>
        <a  href="#play" class="list-none hover:text-point transition-all duration-300 ">
          遊び方
        </a>
        <li class="list-none hover:text-point transition-all duration-300 ">
          <%= link_to "新規登録", signup_path %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 ">
          <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
        </li>
      <% end %>
    </div>
    <div class="md:hidden">
      <i class="fa-solid fa-bars"></i>
    </div>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "flash flash__#{key}") %>
    <% end %>
  </div>
</header>

