<header class="py-6">
  <div class = "container mx-auto flex justify-between items-center px-8 md:px-14 lg:px-24 w-full mb-8">
    <div class="text-3xl font-bold hover:text-point transition-all duration-300">
      <%= link_to "コトノハ", root_path %>
    </div>
    <div class="hidden md:flex justify-end items-center font-semibold">
      <% if logged_in? %>
        <a  href="#play" class="list-none hover:text-point transition-all duration-300 block px-8 py-2">
          遊び方
        </a>
        <li class="list-none hover:text-point transition-all duration-300 block px-8 py-2 ">
          <%= link_to "手紙を書く", new_post_path, data: {turbo: false} %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 block px-8 py-2">
          <%= link_to "手紙を読む", notifications_path %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 block px-8 py-2">
          <%= link_to "お問い合わせ", new_contact_path %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 block px-8 py-2">
          <%= link_to "ログアウト", log_out_path %>
        </li>
      <% else %>
        <a href="#about" class="list-none hover:text-point transition-all duration-300 block px-8 py-2">
          どんなアプリ？
        </a>
        <a  href="#play" class="list-none hover:text-point transition-all duration-300 block px-8 py-2">
          遊び方
        </a>
        <li class="list-none hover:text-point transition-all duration-300 block px-8 py-2">
          <%= link_to "お問い合わせ", new_contact_path %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 block px-8 py-2">
          <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
        </li>
      <% end %>
    </div>
    <div class="md:hidden">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>

