<header class="py-6">
  <div class="flex flex-col md:flex-row justify-between px-8 md:px-14 w-full">
    <div class="text-3xl font-bold hover:text-point transition-all duration-300">
      <%= link_to "コトノハ", root_path %>
    </div>
    <div class="flex flex-row justify-end items-center font-semibold text-sm md:text-lg">
      <% if logged_in? %>
        <li class="list-none hover:text-point transition-all duration-300 px-3 py-3 ">
          <%= link_to "手紙を書く", new_post_path, data: {turbo: false} %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 px-3 py-3">
          <%= link_to "手紙を読む", notifications_path %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 px-3 py-3">
          <%= link_to "お問い合わせ", new_contact_path %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 px-3 py-3">
          <%= link_to "ログアウト", log_out_path %>
        </li>
      <% else %>
        <li class="list-none hover:text-point transition-all duration-300 px-3 py-3">
          <a href="#about">どんなアプリ？</a>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 px-3 py-3">
          <a  href="#play">遊び方</a>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 px-3 py-3">
          <%= link_to "お問い合わせ", new_contact_path %>
        </li>
        <li class="list-none hover:text-point transition-all duration-300 px-3 py-3">
          <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
        </li>
      <% end %>
    </div>
  </div>
</header>

