<% provide(:title, "Top") %>
<div id="top", class="container mt-8 px-8 flex justify-between mx-auto items-center md:px-14 lg:px-24 w-full">
  <div class="flex flex-wrap md:flex-nowrap max-w-xl">
    <div class="md:mt-16 md:text-left">
      <h1 class="md:py-10 font-bold text-5xl md:text-6xl lg:text-8xl">コトノハ
      </h1>
      <h2 class="font-semibold mt-2 text-3xl md:text-4xl lg:text-5xl" >
        自分らしく、<br/>
        自由に、<br/>
        素直に。
      </h2>
    </div>
    <div class="md:absolute md:right-0 bg-center bg-cover mt-12 md:mt-4 mx-auto -z-10">
      <%= image_tag "edward-howell-HXCVD8SYcQM-unsplash.jpg"%>
    </div>
  </div>
</div>

<div id="about", class="container mt-20 md:mt-96 px-8 flex justify-between mx-auto items-center md:px-14 lg:px-24">
  <section class="w-full">
    <h1 class="font-bold text-5xl md:text-6xl lg:text-8xl">コトノハって何？</h1>
    <p class="mt-8 font-semibold text-2xl top-about flex mx-auto">コトノハは、
    誰にも邪魔されず、
    安心して気持ちを吐き出せる
    プライベートSNSです。<br/>
    気持ちを溜め込んで、鬱ぎ込む前に。<br/>
    嬉しくて、誰かに聞いてほしいときに。<br/>
    思ったことを、自由に書いてください。<br/>
    他の誰か一人にだけ、届きます。<br/>
    その一人が誰かはわかりません。<br/>
    受け取った人も、誰からの手紙かはわかりません。<br/>
    なので、誹謗中傷や人の目を心配する必要はありません。<br/>
    自由に、あなたらしく気持ちを素直に表現してみてください。<br/>
    それができるのが、コトノハです。
    </p>
  </section>
</div>

<div id="play", class="container mt-20 md:mt-90 px-8 flex justify-between mx-auto items-center md:px-14 lg:px-24">
  <section class="w-full">
    <h1 class="font-bold text-5xl md:text-6xl lg:text-8xl">どうやって遊ぶの？</h1>
    <p class="mt-8 font-semibold text-2xl flex mx-auto">
    1, まずはここから登録してみよう！
    </p>
    <div class="flex justify-center items-center m-5 hover:bg-point text-header font-semibold hover:text-white py-2 px-8 rounded">
      <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
    </div>
    <p class="mt-8 font-semibold text-2xl flex mx-auto">
    2, 登録できたら早速手紙を書いてみよう！<br/>(こんな感じで自由に書いてね！)
    </p>
    <div class="flex justify-center items-center mt-4">
      <%= image_tag '2writeLetter.png', :size =>'320x480'%>
    </div>
    <div class="flex justify-center items-center m-5 hover:bg-point text-header font-semibold hover:text-white py-2 px-8 rounded">
      <% if logged_in? %>
        <%= link_to "手紙を書く", new_post_path, data: {turbo: false} %>
      <% else %>
        <div class="flex justify-center items-center m-5 hover:bg-point text-header font-semibold hover:text-white py-2 px-8 rounded">
          <%= button_to "まずはGoogleで登録!", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
        </div>
      <% end %>
    </div>
    <p class="mt-8 font-semibold text-2xl flex mx-auto">
    3, 手紙が書けたら返事が来るのを待ってみよう！<br/>(ちなみに、僕からの手紙があなたに来ているよ！<br/>読んでみてね！)
    </p>
    <div class="flex justify-center items-center mt-4">
      <%= image_tag 'readLetter.png', :size =>'320x480'%>
    </div>
    <div class="flex justify-center items-center m-5 hover:bg-point text-header font-semibold hover:text-white py-2 px-8 rounded">
      <% if logged_in? %>
        <%= link_to "手紙を読む", notifications_path %>
      <% else %>
        <div class="flex justify-center items-center m-5 hover:bg-point text-header font-semibold hover:text-white py-2 px-8 rounded">
          <%= button_to "まずはGoogleで登録!", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div id="contact", class="container mt-20 md:mt-90 px-8 flex justify-between mx-auto items-center md:px-14 lg:px-24">
  <section class="w-full">
    <h1 class="font-bold text-5xl md:text-6xl lg:text-8xl">お問い合わせ</h1>
    <p class="my-3 font-bold text-2xl">アプリについての質問や意見はここからお願いします！</p>
    <p class="hover:bg-point text-body font-bold hover:text-white py-3 px-8 rounded-lg transition-all duration-300 flex mx-auto justify-center">
      <%= link_to "お問い合わせ", new_contact_path %>
    </p>
  </section>
</div>