<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body class="font-kiwi bg-back text-body w-full min-h-screen flex flex-col">
    <%= render 'shared/header' %>
    <main class="container mx-auto px-10">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>