<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BZNYRYJCV2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BZNYRYJCV2');
    </script>
  </head>

  <body class="font-kiwi bg-back text-body w-full min-h-screen flex flex-col">
    <%= render 'shared/header' %>
    <main class="container mx-auto px-10">
      <%= render 'shared/flash'%>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>